<div class="container-fluid">
    <button class="btn btn-primary" (click)="isEditMode = false; resetForm()"> Add New Student</button>
    <table class="table">
        <thead>
            <tr>
                <th>select</th>
                <th>
                    ID
                </th>
              
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <!-- <th>
                    Department
                </th> -->
                <th>
                    Email
                </th>
                <th>
                    Country
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students; let i = index">
                <td><input type="checkbox" [(ngModel)]="student.selected"  /></td>
                <td>{{student.id}}</td>
             
                <td>{{student.firstname}}</td>
                <td>{{student.lastname}}</td>
                <!-- <td>{{student.Department}}</td> -->
                <td>{{student.email}}</td>
                <td>{{student.country}}</td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="editstudent(student)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="deletestudent(student)">Delete</button>
                </td>

            </tr>
        </tbody>

    </table>
</div>

<div class="container-fluid">
    <form #studentForm="ngForm" (ngSubmit)="saveStudent()">
    
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="student.firstname" #firstname="ngModel" />
            <div *ngIf="firstname.invalid && firstname.touched ">
                first name is Required
            </div>
        </div>

        <div class="form-group">
            <label for="firstname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="student.lastname" #lastname="ngModel" />
            <div *ngIf="lastname.invalid && lastname.touched ">
                last name is Required
            </div>
        </div>

        <!-- <div class="form-group">
            <label for="Department">Department</label>
            <input type="text" id="Department" name="Department" [(ngModel)]="student.Department" #deparatment="ngModel" readonly/>
            <div *ngIf="Department.invalid && Department.touched ">
                deparatment is Required
            </div>
        </div> -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="student.email" #email="ngModel" />
            <div *ngIf="email.invalid && email.touched ">
                email is Required
            </div>
        </div>
        <div class="form-group">
            <label for="Country">Country</label>
            <input type="text" class="form-control"id="country" name="country" [(ngModel)]="student.country" #country="ngModel" />
            <div *ngIf="country.invalid && country.touched ">
                country is Required
            </div>
        </div>

        <button type="submit"class="btn btn-primary" >{{isEditMode ? 'ADD':'Update'}}</button>

       
    </form>
</div>
